<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello World</title>
    <style>
        .demo {
            font-family: sans-serif;
            border: 1px solid #eee;
            border-radius: 2px;
            padding: 20px 30px;
            margin-top: 1em;
            margin-bottom: 40px;
            user-select: none;
            overflow-x: auto;
        }

        .bgred {
            background-color: red;
        }

        .bgorange {
            background-color: #ffb700;
        }
    </style>
    <script src="https://unpkg.com/vue@next">//Import Vue here !</script>
</head>
<body>
<div id="fixMsg">
    <p>This is a normal msg: <span class="bgorange">{{ msgText }}</span></p>
    <p v-once>This is the same message "msgText" but fixed because of v-once <br>
        (it will not change!): <span class="bgorange">{{ msgText }}</span></p>
</div>
<div id="msg">
    <p v-bind:class="cssForMsg" v-on:click="clickMsg">Simon says {{ message }}</p>
    <textarea rows="5" cols="100" v-model="message" v-bind:title="message"></textarea><br>
    <label for="chkError" v-bind:class="cssForErrorInfo" v-on:mouseover="cssForErrorInfoOnHover"
           v-on:mouseout="cssForErrorInfoOnHover">Display error: </label><input id="chkError" type="checkbox"
                                                                                v-model="errorVisible">
    <p class="bgred" v-if="errorVisible">There is an error :( ...</p>
</div>

<div id="strangeTitle">
<div v-html="titleInHTML"></div>
</div>
<script>
    const strangeTitle = {
        data() {
            return {
                titleInHTML: "<h3>Hey this is a title h3 (raw html inserted)</h3>"
            }
        }
    }
    Vue.createApp(strangeTitle).mount("#strangeTitle")

    const fixMsg = {
        data() {
            return {
                msgText: "Hey you !"
            }
        },
        mounted() {
            setInterval(() => {
                this.msgText = "I can change !"
            }, 1000)
        }
    }
    Vue.createApp(fixMsg).mount("#fixMsg")

    /*Vue code here*/
    const Message = {
        data() {
            return {
                cssForMsg: "",
                cssForErrorInfo: "",
                message: "hello world !",
                errorVisible: false
            }
        },
        mounted() {
            setInterval(() => {
                this.message = this.message + " . "
            }, 1000)
            setInterval(() => {
                this.cssForMsg = "bgorange"
            }, 2000)
        },
        methods: {
            cssForErrorInfoOnHover() {
                if (this.cssForErrorInfo == "") {
                    this.cssForErrorInfo = 'bgorange'
                } else {
                    this.cssForErrorInfo = ""
                }
            },
            clickMsg() {
                alert("You have clicked on the message...")
            }
        }
    }
    Vue.createApp(Message).mount('#msg')
</script>
</body>
</html>
