<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DevDashboard</title>
    <style>
        body {
            font-family: "Consolas", "Verdana", "sans-serif";
            background-color: #fff9be;
        }

        #divWidgets {
            display: flex;
            flex-wrap: wrap;
        }

        .fullwidth {
            width: 100%;
        }

        .inputerror {
            border: 2px double #ff7575;
        }

        .nomargin {
            margin: 0px !important;
        }

        .littlepadding {
            padding: 5px;
            border-radius: 5px;
        }

        .thinBlueBorder {
            border: 1px #25b3e5 solid;
        }

        .divRectangle {
            border: 2px #25b3e5 solid;
            background-color: #d5eeff;
            padding: 10px;
            border-radius: 5px;
            width: min-content;
            height: 350px;
            margin: 3px;
            overflow: visible;
        }

        #divWikipedia {
            min-width: 600px;
            min-height: 300px;
        }

        #divStringsStats {
            min-width: 600px;
            /*min-height: 300px;*/
        }

        #divDeeplTranslate {
            min-width: 450px;
            min-height: 300px;
        }

        #githubToday {
            min-width: 450px;
            max-height: 150px;
        }

        .hTitle {
            font-size: 2.5rem;
        }

        h2, h3, ul {
            margin-top: 3px;
            margin-bottom: 15px;
        }

        h2 {
            font-family: Verdana;
        }

        textarea, input {
            border-radius: 5px;
            max-width: 100%;
            max-width: available;
            border: 1px #25b3e5 solid;
        }

        textarea {
            padding: 5px;
        }

        input {
            padding: 2px 5px;
        }

        .flexdiv {
            display: flex;
        }

        .flexwrap {
            flex-wrap: wrap;
        }

        .widthmozavailable {
            width: -moz-available;
        }
    </style>
    <script src="node_modules/vue/dist/vue.global.js"></script>
</head>
<!--
/**
 *  Project: DevDashboard
 *  Goal: Provide a dashboard for developing with different widgets integrated, like little tools for string stats, translater, API fetcher, ...
 *  File: index.html: main file with all widgets
 *  Techno: no pure JS, only VueJS
 *  Author: Samuel Roland
 *  Creation date: 01.01.2020
 */

 Ideas to implement:
 - Stats on a given string (how many chars, the string with a limit of chars applied, search a substring and get occurrences, )
 - Fetch IceScrum API to have total time spent on a given project and calculate time spent for the current day (if possible).
 - Fetch IceScrum API to design a progress bar with provided effort on total effort (all stories from backlog, in run and done) and with generated value on total value. With a marker at each story done (with the name of the story on hover in a tooltip) on the progress bar, with start and end dates, sprints and releases. The stories should be ordered by the order of completion.
 - Fetch IceScrum API to recreate timesheet app with more information
 - Fetch first paragraph of a wikipedia page to get a quick definition of a word (propose different solutions if not found directly)
 - Fetch definition of dictionary of a word (with larousse.fr for ex.)
 - Encode or decode string in base64 format (include a js library for it)
 - Fetch DeepL website to get the translations of a word in french translated to english
 - Fetch HackerNews API on hn.algolia.com/ like https://hn.algolia.com/api/v1/search?query=markdown to find the last article that get more than x points and that are related to at least of subject of a list
 - Fetch Github API for given repos (repos that your have starred for ex.) to get the last created issues with labels "good first issue")
 - Fetch PHP, VueJS, Laravel, (or others languages) official documentation, search a function, class, ... display personal notes in MD from a file.)
 - Save current links for dev with a custom order, and open them easily.
 - Search free copyleft icons for apps and download them in one folder of a list (folder depending on the current project)
 - Display and hide widgets depending on the project chosen (some widgets are useful for one project and others are not). Configurations are saved.)
 - Show shortcuts of the app on alt key. Tab key go to the next widget (autofocus to the default input).
 - Write little notes about the state of the code WIP if the functionality is not done.
 - Fetch API of IceScrum to get tasks of a project with the color different of yellow, and prioritize them.
 - Fetch API of GitHub to get contributions information on one repos (contributors list, commits total and commits of the day, created issues, pull requests managed, number of comments, code review, ...)
 - Fetch API of GitHub to recreate contributions table like on github profil page
 - Fetch API of Stackoverflow to search articles, get the upvoted solutions (with more than x upvotes) and display them.
 - Fetch API of any type, set headers, display the response, link builder with a lot of values in the querystring
 - Display a given web page with minimal content and design (like reading mode of Firefox) with text and images and basic style.
-->
<body>
<div id="bodyApp">
    <div id="divAppTitle">
        <h1 style="display: inline" class="hTitle">DevDashboard</h1> <em
            v-bind:title="'Released the ' + appVersionDate"><code style="font-size: 1.2em">v{{ appVersion }}</code></em>
        <h3>{{ appDescription }}</h3>
        by <strong><code style="font-size: 1.2em">{{ authorFullname }}</code></strong>
        <p>Developed with the javascript framework <a href="https://v3.vuejs.org/guide">VueJS</a> 3...</p>
        <hr>
    </div>
    <div id="divWidgets">

        <div id="divStringsStats" class="divRectangle">
            <h2>Strings stats</h2>
            <label for="txtarea"></label>
            <textarea v-bind:class="txtCssClasses" id="txtarea" rows="5"
                      placeholder="Paste your string here..."
                      v-model="content" v-on:input="calculateAllStats">
            </textarea>
            <ul>
                <li>{{ totalChars }} chars</li>
                <li>{{ totalWords }} words (only ' ' as separator)</li>
                <li>{{ totalWordsAdvanced }} words advanced (separators: {{ separatorsListIfTotalWordsAdvanced }})</li>
                <li>Most used word is: X</li>
                <li><input type="text" placeholder="set a max" v-model="maxCharsToCheck"> chars at max.
                    <span
                            class="txtgreen">{{ maxCharsToCheckInfo }}</span></li>
                <li><input type="text" placeholder="search a substring" v-model="substringToSearch"> found
                    {{ nbTimesSubstringFound }} times
                </li>
                <li><input type="checkbox"> <label>Words? </label><input type="text" placeholder="Match a Regex">
                    matched X
                    times
                </li>
                <li>Words founds:
                    <ol>
                        <li v-for="word in this.words">
                            {{ word }}
                        </li>
                    </ol>
                </li>
            </ul>
        </div>

        <div id="divWikipedia" class="divRectangle">
            <h2>Wikipedia Search</h2>
            <p><input type="text" placeholder="Pick a word">
                <button>Search it!</button>
                <button>Go on the page X</button>
            </p>
            <h3>Result:</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi dolore eius excepturi optio quo
                sint voluptates. Architecto asperiores cupiditate dolore dolores esse facilis ipsa odit quam quibusdam!
            </p>
        </div>

        <div id="divDeeplTranslate" class="divRectangle">
            <h2>DeepL Translate</h2>
            <label for="sltLanguageSource">Source language</label>
            <select id="sltLanguageSource">
                <option value="fr">French</option>
                <option value="en">English</option>
                <option value="en">German</option>
            </select>
            <textarea class="widthmozavailable" cols="50" rows="6" placeholder="Write your text here:

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi dolore eius excepturi optio quo sint voluptates. Architecto asperiores cupiditate dolore dolores esse facilis ipsa odit quam quibusdam! "></textarea>
            <p></p>
            <h3 class="nomargin">Result:</h3>
            <label for="sltLanguageDestination">Destination language</label>
            <select id="sltLanguageDestination">
                <option value="fr">French</option>
                <option value="en">English</option>
                <option value="en">German</option>
            </select>
            <br>
            <div class="thinBlueBorder littlepadding">
            <span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi dolore eius excepturi optio quo
                sint voluptates. Architecto asperiores cupiditate dolore dolores esse facilis ipsa odit quam quibusdam!
            </span>
            </div>
        </div>
        <div id="githubToday" class="divRectangle">
            <div class="flexdiv">
                <h2>GitHub today contributions</h2>
                <span>{{ dateOfToday }}</span>
            </div>
        </div>
    </div>
</div>
<script>
    /*Vue code here*/
    const DevD = {
        data() {
            return {
                appDescription: "An evolving dashboard with widgets that help you develop apps with lots of external tools collected and personalized in one web page.",
                appVersion: "0.2",
                appVersionDate: "01.01.2021",
                authorFullname: "Samuel Roland",
            }
        }
    }

    //Widget strings stats
    const widgStringsStats = {
        data() {
            return {
                content: "",
                words: [],
                totalChars: 0,
                totalWords: 0,
                totalWordsAdvanced: 0,
                separatorsListIfTotalWordsAdvanced: "",
                mostUsedWord: "",
                maxCharsToCheck: 100,
                maxCharsToCheckInfo: "",    //result of the check
                substringToSearch: "",
                nbTimesSubstringFound: 0,
                chkRegexOnWords: true,
                inpRegexOnWords: "",
                nbMatchesForRegex: 0,
                //Css:
                txtCssAddings: "",
                txtCssClasses: "widthmozavailable " + this.txtCssAddings
            }
        },
        methods: {
            calculateAllStats() {
                text = this.content
                this.totalChars = text.length

                //Calculate this.totalWords
                //Thanks to: https://stackoverflow.com/questions/19313541/split-a-string-based-on-multiple-delimiters#answer-19313673
                separators = [" "]
                this.words = text.trim().split(new RegExp('[' + separators.join('') + ']', 'g'));
                this.words = this.words.filter(function (el) { //trim and split with spaces on the text
                    return (el != "")   //keep item of the array only if not empty string
                })
                this.totalWords = this.words.length
                //Trim with all non words chars to count advanced words (more separators):
                this.words = text.trim().split(e = new RegExp("[-_](?!\\w)|[-_](?<!\\w\\W)|[^\\w-_]"));  //split with "hard" regex to take all non words chars except - and _ if char before and after are words chars.
                console.log(e)
                this.words = this.words.filter(function (el) { //filter and remove empty values
                    return (el != "")   //keep item of the array only if not empty string
                })
                this.totalWordsAdvanced = this.words.length
                this.separatorsListIfTotalWordsAdvanced = 'all not words chars, except \'_\' and \'-\''

                //Check that content.length respect this.maxCharsToCheck
                if (this.maxCharsToCheck >= this.content.length) {
                    this.maxCharsToCheckInfo = "Respected !"
                    this.manageErrorCssOnTextarea(false)
                } else {
                    this.maxCharsToCheckInfo = "Exceeded !"
                    this.manageErrorCssOnTextarea(true)
                }

                //Count occurrences of a string:
                //this.nbTimesSubstringFound = this.allIndexOf(this.content, this.substringToSearch).length

            },
            //Display or hide error css on text area
            manageErrorCssOnTextarea(display = true) {
                if (display == true) {
                    this.txtCssAddings = "inputerror"
                } else {
                    this.txtCssAddings = ""
                }
                this.loadTxtCssClasses()
            },
            loadTxtCssClasses() {   //load the txtCssClasses variable after modification of txtCssAddings
                this.txtCssClasses = "widthmozavailable " + this.txtCssAddings
            },
            ////Thanks to: https://stackoverflow.com/questions/3365902/search-for-all-instances-of-a-string-inside-a-string#answer-20968478
            //allIndexOf(str, toSearch) { //Get an array of all the position of a substring in a string
            //    if (str == null || toSearch == null) {
            //        return 0
            //    }
            //    indices = [];
            //    for (pos = str.indexOf(toSearch); pos !== -1; pos = str.indexOf(toSearch, pos + 1)) {
            //        indices.push(pos);
            //    }
            //    return indices;
            //}
        },
        mounted() {
            this.calculateAllStats()
        }
    }

    const githubToday = {
        data() {
            return {
                dateOfToday: "date of today",
                nbOfCommits: null,
                reposContributed: null
            }
        },
        mounted() {
            timestamp = new Date()
            this.dateOfToday = timestamp.getDay() + "-" + (timestamp.getUTCMonth() + 1) + "-" + timestamp.getFullYear()
        }
    }

    Vue.createApp(DevD).mount('#divAppTitle')
    Vue.createApp(widgStringsStats).mount('#divStringsStats')
    Vue.createApp(githubToday).mount("#githubToday")
</script>
</body>

</html>
