body {
    font-family: "Consolas", "Verdana", "sans-serif";
    background-color: #fff9be;
}

#divWidgets {
    display: flex;
    flex-wrap: wrap;
}

.fullwidth {
    width: 100%;
}

.inputerror {
    border: 2px double #ff7575;
}

.nomargin {
    margin: 0px !important;
}

.littlepadding {
    padding: 5px;
    border-radius: 5px;
}

.thinBlueBorder {
    border: 1px #25b3e5 solid;
}

.divRectangle {
    border: 2px #25b3e5 solid;
    background-color: #d5eeff;
    padding: 10px;
    border-radius: 5px;
    width: min-content;
    height: 350px;
    margin: 3px;
    overflow: visible;
}

#divWikipedia {
    min-width: 600px;
    min-height: 300px;
}

#divStringsStats {
    min-width: 600px;
    /*min-height: 300px;*/
}

#divDeeplTranslate {
    min-width: 450px;
    min-height: 300px;
}

#githubToday {
    min-width: 450px;
    max-height: 150px;
}

#githubReposInfo {
    width: max-content;
    max-height: 150px;
}

.hTitle {
    font-size: 2.5rem;
}

h2, h3, ul {
    margin-top: 3px;
    margin-bottom: 15px;
}

h2 {
    font-family: Verdana;
}

textarea, input {
    border-radius: 5px;
    max-width: 100%;
    max-width: available;
    border: 1px #25b3e5 solid;
}

textarea {
    padding: 5px;
}

input {
    padding: 2px 5px;
}

.flexdiv {
    display: flex;
}

.flexwrap {
    flex-wrap: wrap;
}

.widthmozavailable {
    width: -moz-available;
}

.avatar-img {
    height: 50px;
}

.p-2 {
    padding: 5px;
}

.flex-1 {
    flex: 1;
}